.patients-page {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
    background-color: #f3f6f7;


  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

}