$primary1: #051b1e;
$primary2: #0d434a;
$primary3: #156a75;
$primary4: #1c91a0;
$primary5: #24b9cc;
$primary6: #43cddf;
$primary7: #6fd9e7;
$primary8: #9be4ee;
$primary9: #c6f0f5;
$primary10: #d4f4f7;
$primary11: #e9fafb;
$primary12: #f6fdfd;


