body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page {
  margin-left: 100px;
  padding: 40px;
}


.healthy-tooth-label {
  background-color: #b9eff2a6;
  color: #436A70;
}

.caries-tooth-label {
  background-color: #FFF7CD;
  color: #817D34;
}

.artificial-tooth-label {
  background-color: #FEE5CF;
  color: #705B43;
}

.seal-tooth-label {
  background-color: #E4E5FE;
  color: #4F4370;
}

.cavity-tooth-label {
  background-color: #FDDEFA;
  color: #704368;
}

.milk-tooth-label {
  background-color: #F2F2F2;
  color: #A7A7A7;
}

.extracted-tooth-label {
  background-color: #FFE1E1;
  color: #704343;
}

.treated-tooth-label {
  background-color: #E7FFDE;
  color: #4C7043;
}