.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
  .doctor-name {
    color: #156a75;
    font-weight: 600;
  }

  

  .container {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    
    
    .left-container {
      display: flex;
      flex-direction: column;
      min-width: 500px;
      width: 860px;

      .summary {
        background-color: #e9fafb;
        height: 100px;
        border-radius: 20px;
        margin-bottom: 30px;
      }

      .header {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
      }

      .appointments-list {
        height: 350px; //FIX
        padding: 3px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .calendar {
    margin: 0 auto;
    height: min-content;
  }
}