.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f3f6f7;
  
  .doctor-name {
    color: #156a75;
    font-weight: 600;
  }

  

  .container {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    
    
    .left-container {
      display: flex;
      flex-direction: column;
      min-width: 500px;
      width: 860px;

      
      .header {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
      }

      .appointments-list {
        height: 360px; //FIX
        padding: 3px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          display: none;
      }
      }
    }
  }

  .calendar {
    margin: 0 auto;
    height: min-content;
  }
}