.patient-card {
  background-color: #EEFAFC;
  display: flex;
  border-radius: 20px;
  margin-left: 40px;
  width: 100%;

  .right-side{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .tooth-btn {
      border-radius: 10px;
      
      .container {
        display: flex;
        padding: 20px;

        p {
          margin-left: 20px;
          font-size: 12px;
          font-weight: 700;
        }

        img {
          width: 40px;
        }
      }
    }

    .button-container {
      display: flex;
      justify-content: flex-end;
    }
  }
  

    
}